<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053277938430-r74ab49b6c2s4h4pdt6o9gfqv5kehvt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053277938430-r74ab49b6c2s4h4pdt6o9gfqv5kehvt0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjkjq9bHTRtI6kwB_Cixt-m40Urjb-zFY</string>
	<key>GCM_SENDER_ID</key>
	<string>1053277938430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hieuvh.word-puzzle-game</string>
	<key>PROJECT_ID</key>
	<string>puzzle-word-game</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzle-word-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053277938430:ios:84b23a15356181cef1fbaf</string>
</dict>
</plist>